.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.6fr 0.1fr repeat(2, 1.9fr) 0.5fr;
  gap: 10px 10px;
  grid-template-areas:
    "nav nav nav nav"
    "title title title title"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
  margin: 0 auto;
}

.content * {
  margin: 0 20px;
}

nav {
  grid-area: nav;
  border-bottom: 2px solid;
  border-color: red;
  height: 50px;
  padding: 20px;
  font-size: 40px;
  position: relative;
}
h3 {
  margin: 0;
}
.tabsContainer {
  float: right;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.title {
  grid-area: title;
  display: grid;
  justify-items: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 30px;
  grid-template-areas:
    "module module module"
    "module module module";
  grid-area: main;
}

.main {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "intro image";
  grid-area: main;
}

.intro {
  grid-area: intro;
  padding: 30px;
}

.image {
  grid-area: image;
  padding: 30px;
}

.module {
  display: grid;
  align-items: center;
  justify-items: center;
  color: gray;
  /*padding: 10px 0;*/
  max-width: 300px;
}

h2 {
  padding: 10px 0;
}

span+p {
  text-align: justify;
  padding: 10px 20px;
}

h1+p {
  text-align: justify;
  padding-top: 10px;
  font-size: 20px;
}

ul {
  padding-left: 10px;
  font-size: 18px;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer>p {
  position: absolute;
  bottom: 0%;
}